.left-container {
    align-items: center;
    justify-content: center;
    width: 50%;
    align-self: stretch;
}

.right-container {
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}
